.contact-details{
    justify-self: center;
    gap: 15px
;
  h2{
      margin: 0;
  }
  h3{
      margin: 0;
  }
  div.links-container{
    align-self: flex-end;
      margin-top: 10px;
      gap: 20px;
  }
}