.contact-preview{
    height: 225px;
    width: 225px;
    h1{
        font-size: em(25px);
        margin: 0;
    }

    .robohash-container{
        img{
            height: 100px;
            width: 100px;
        }
        margin-bottom: 5px;
    }
}