// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-space {
    justify-content: space-evenly;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.wrap{
    flex-wrap: wrap;
  }
}

.clean-link {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.clean-list {

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.designed-input-darkmode{
  height: 35px;
  width: 200px;
  padding-inline-start: 10px;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  color: whitesmoke;
}

