@mixin primary-btn-black-hollow {
    background-color: transparent;
    border: 2px solid #18191a;
    border-radius: 6px;
    color: #18191a;
    height: fit-content;
    width: fit-content;
    padding: 10px;
}

@mixin primary-btn-white-hollow {
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    color: white;
    height: fit-content;
    width: fit-content;
    padding: 10px;
}

@mixin designed-input-darkmode {
  
}