//FOR LOGOS 

@font-face {
    font-family: inconsolata;
    src: url('src/assets/fonts/inconsolata/Inconsolata-Regular.ttf');
}

@font-face {
    font-family: roman;
    src: url('@/assets/fonts/roman/LuxuriousRoman-Regular.ttf');
}

// FOR BODY

//ROBOTOS!

@font-face {
    font-family: roboto-regular;
    src: url('@/assets/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('src/assets/fonts/roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: roboto-italic;
    src: url('src/assets/fonts/roboto/Roboto-Italic.ttf');
}
@font-face {
    font-family: roboto-bold;
    src: url('src/assets/fonts/roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: roboto-medium;
    src: url('src/assets/fonts/roboto/Roboto-Medium.ttf');
}


//MUKTA

@font-face {
    font-family: mukta-reg;
    src: url('../../fonts/mukta/Mukta-Regular.ttf');
}
