// Colors
$clr1: #ce2e6c;
$clr2: #092F32;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7:  #adc3ce;
$clr8: #2793e0;
$clr9: #5f70f1;;


// LAYOUT
$layoutPadding: 20px;

// Breakpoints
// $break-narrow: 460px;
// $break-normal: 720px;
// $break-wide: 960px;

// $padded-break-narrow: $break-narrow + $layoutPadding * 2;
// $padded-break-normal: $break-normal + $layoutPadding * 2;
// $padded-break-wide: $break-wide + $layoutPadding * 2;