//SETUP
@import './setup/functions';
@import './setup/mixins';
@import './setup/typography';
@import './setup/variables';

// BASIC
@import './basic/_basic';
@import './basic/_buttons';
@import './basic/_helpers';


//CMPS
@import './cmps/app-header';

//VIEWS
@import './views/home'
